*.iml
/.gradle/
/.idea/
/local.properties
.DS_Store
/build

# Include apk files
!app/build/output/debug/*.apk

/captures
.externalNativeBuild
.cxx
local.properties
/org.*


backend/node_modules
backend/package-lock.json
